In [17]:
import pandas as pd
import random

# General Syntax

In [18]:
# assert expression[, assertion_message]

int = 9
assert int > 0, f'Value must be greater than 0, got {int}'

print(int)

9

In [19]:
int = -1
assert int > 0, f'Value must be greater than 0, got {int}'

print(int)

AssertionError: Value must be greater than 0, got -1

In [28]:
# Create df
df = pd.DataFrame(
    {
        'Product': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'],
        'Price': [random.randint(100, 200) for i in range(5)]
    }
)

In [29]:
df

     Product  Price
0  Product A    159
1  Product B    200
2  Product C    158
3  Product D    117
4  Product E    162

# Guard your back with assert

In [37]:
def discount(price, discount):
    
    assert 0 < discount < 1, f'Discount must be between 0 and 1, got {discount}'
    return price * (1 - discount)

In [34]:
df['Discounted Price'] = discount(df['Price'], 0.2)

df

     Product  Price  Discounted Price
0  Product A    159             127.2
1  Product B    200             160.0
2  Product C    158             126.4
3  Product D    117              93.6
4  Product E    162             129.6

If someone mistakenly gives an invalid value, the code will not run: \
For example, if you add 20 instead of 0.2 to indicate 20%, you will run into an error

In [31]:
df['Discounted Price'] = discount(df['Price'], 20)

AssertionError: Discount must be between 0 and 1, got 20

Without assert the code will run and you have invalid values:

In [32]:
def bad_discount(price, discount):
    
    #assert 0 < discount < 1, f'Discount must be between 0 and 1, got {discount}'
    return price * (1 - discount)

In [33]:
df['Discounted Price'] = bad_discount(df['Price'], 20)

df

     Product  Price  Discounted Price
0  Product A    159             -3021
1  Product B    200             -3800
2  Product C    158             -3002
3  Product D    117             -2223
4  Product E    162             -3078