In [3]:
import pandas as pd
import numpy as np

# Add summary stat below table in üêº

In [4]:
data = np.random.uniform(low=0, high=1000, size=(5, 5))
df = pd.DataFrame(data, columns=['Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5'])

In [5]:
summary_stat = (df.agg(["sum", "mean"])
                .style.relabel_index(["Sum", "Average"])
                .format(precision=2)
                .background_gradient(axis=1, cmap='Greens')
)

df.style.concat(summary_stat)

---

In [7]:
df = pd.read_csv('house price data.csv')

Dataframe: https://www.kaggle.com/datasets/shree1992/housedata

# Barcharts in columns üêº

In [93]:
(df.sample(9).iloc[:, 1:7].style
                            .bar(subset=["price"], color='darkgreen')
                            .bar(subset=["sqft_living"], color='darkblue')
                            .bar(subset=["sqft_lot"], color='darkred')
                            .format({'price': '{:,.2f}'})
                        
)