In [65]:
import pandas as pd
import numpy as np

In [66]:
data = np.random.uniform(low=0, high=1000, size=(5, 5))
df = pd.DataFrame(data, columns=['Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5'])

# Add summary stat below table in üêº

In [79]:
summary_stat = (df.agg(["sum", "mean"])
                .style.relabel_index(["Sum", "Average"])
                .format(precision=2)
                .background_gradient(axis=1, cmap='coolwarm')
)

df.style.concat(summary_stat)